<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org/extras/data">
<body>
<!-- Form Inputs -->
<!-- Submit Btn -->
<div th:fragment="submit-btn(id, label)" class="form-group">
    <label class="col-md-4 control-label" th:for="${id}"></label>
    <div class="col-md-4">
        <button type="submit" th:id="${id}" class="btn btn-primary">[[${label}]]<span
                class="glyphicon glyphicon-send"></span></button>
    </div>
</div>

<!-- Text Input -->
<th:block th:fragment="text-input(field, placeholder, label, glyph, isRequired, pattern)">
    <div th:replace="~{::common-input(${field}, 'text', ${label}, ${glyph}, ${isRequired}, ${pattern}, ${placeholder}, false)}"></div>
</th:block>
<!-- Text Readonly Input -->
<th:block th:fragment="text-input-readonly(field, placeholder, label, glyph)">
    <div th:replace="~{::common-input(${field}, 'text', ${label}, ${glyph}, _, _, ${placeholder}, true)}"></div>
</th:block>
<!-- Email Input -->
<th:block th:fragment="email-input(field, placeholder, label, glyph, isRequired)">
    <div th:replace="~{::common-input(${field}, 'email', ${label}, ${glyph}, ${isRequired}, _, ${placeholder}, false)}"></div>
</th:block>
<!-- Date Input -->
<div class="form-group" th:classappend="${isRequired != null} ? 'has-feedback'"
     th:fragment="date-input(field, label, isRequired, isReadonly)">
    <label class="col-md-4 control-label" th:for="${field}" th:text="${label}"></label>
    <div class="col-md-4 inputGroupContainer" th:with="id=${#ids.seq(#strings.append(field,'-div'))}">
        <div class="input-group date" th:id="${id}">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <th:block>
                <input th:id="${field}"
                       th:name="${field}"
                       class="form-control"
                       type="text"
                       th:required="${isRequired}"
                       th:readonly="${isReadonly}"
                />
            </th:block>
        </div>
        <div th:if="${!isReadonly}" th:replace="~{::enable-date-input(${id})}"></div>
        <div th:replace="~{::error-message-block}"></div>
    </div>
</div>
<!-- Common Input -->
<div class="form-group" th:classappend="${pattern != null or isRequired} ? 'has-feedback'"
     th:fragment="common-input(field, type, label, glyph, isRequired, pattern, placeholder, isReadonly)">
    <label class="col-md-4 control-label" th:for="${field}" th:text="${label}"></label>
    <th:block th:with="id=${#strings.equals(type, 'date')} ? ${#strings.append(field,'-div')}">
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group" th:classappend="${#strings.equals(type, 'date')} ? ${type}" th:id="${id}">
            <span class="input-group-addon"><i class="glyphicon"
                                               th:classappend="${#strings.append('glyphicon-',glyph)}"></i></span>
                <th:block>
                    <input th:id="${field}"
                           th:name="${field}"
                           th:placeholder="${placeholder}"
                           class="form-control"
                           th:type="${#strings.equals(type, 'date')} ? 'text' : ${type}"
                           th:required="${isRequired}"
                           th:pattern="${#strings.equals(type, 'text')} ? ${pattern}"
                           th:readonly="${isReadonly}"
                    /> <!-- data:pattern-error="${pattern != null} ? ${#messages.msg(#strings.append(field,'.pattern.error'))}"-->
                </th:block>
            </div>
            <div th:replace="~{::error-message-block}"></div>
        </div>
    </th:block>
</div>
<!-- TextArea Input -->
<div class="form-group" th:fragment="text-area(field, label, placeholder, glyph, isReadonly)">
    <label class="col-md-4 control-label" th:for="${field}" th:text="${label}"></label>
    <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon"
                                               th:classappend="${#strings.append('glyphicon-', glyph)}"></i></span>
            <th:block>
                    <textarea class="form-control"
                              th:placeholder="${placeholder}"
                              th:id="${field}"
                              th:name="${field}"
                              th:readonly="${isReadonly}"
                    ></textarea>
            </th:block>
        </div>
    </div>
</div>
<!-- Radio Input -->
<div class="form-group" th:fragment="radio-male(field)">
    <label class="col-md-4 control-label">Пол</label>
    <div class="col-md-4">
        <div class="radio">
            <label>
                <input type="radio" value="true" required th:id="${field}" th:name="${field}"/> мужской
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" value="false" required th:id="${field}" th:name="${field}"/> женский
            </label>
        </div>
    </div>
</div>
<!-- Select Input -->
<div class="form-group" th:fragment="select-input(field, id, label, options, isRequired)">
    <label class="col-md-4 control-label"
           th:for="${id}" th:text="${label}"></label>
    <div class="col-md-4 selectContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select th:id="${id}" th:name="${field}" th:required="${isRequired}"
                    class="form-control selectpicker">
                <th:block th:replace="${options}"></th:block>
            </select>
        </div>
    </div>
</div>
<!-- Block with error message -->
<div th:fragment="error-message-block" class="help-block with-errors"></div>
<!-- Script for activate Date input -->
<th:block th:fragment="enable-date-input(id)">
    <script th:inline="javascript">
        var inputDateId = [[${id}]];
        $('#' + inputDateId).datetimepicker({
            format: 'DD/MM/YYYY'
        });
    </script>
</th:block>
<!-- Form -->
<form   th:fragment="form(action, id, inputs)"
        class="well form-horizontal"
        th:action="${action}"
        method="post"
        th:id="${id}"
        th:classappend="${id}"
        data-toggle="validator"
        data-delay="100"
>
    <fieldset>
        <div class="col-md-6 alert alert-danger hidden" role="alert" th:id="${#strings.append(id,'-alert')}">
            Произошла ошибка
        </div>
        <th:block th:replace="${inputs}"/>
    </fieldset>
</form>

</body>
</html>