<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/imports :: import_header(~{::title},~{::link})}">
    <title>Рабочий стол</title>
    <link rel="stylesheet" th:href="@{/css/fullcalendar.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <!--Женя не бей -->
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css'>
    <link rel='stylesheet prefetch' href='http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>
    <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'>
    <!--Женя не бей -->
</head>
<body>
<th:block th:include="~{fragment/imports :: import_script(~{::script})}">
    <script th:src="@{/js/calendar/fullcalendar.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/calendar/ru.js}"></script>
    <script th:src="@{/js/calendar/gcal.js}"></script>
    <script th:src="@{/js/index.js}"></script>

    <!--Женя не бей  2-->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>
    <!--Женя не бей 2-->
</th:block>
<div th:include="header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 top-buffer">
            <form class="well form-horizontal" action="" method="post">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title">Отчеты</h3>

                            </div>

                        </div>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Отчет по оплатам клиентов</li>
                            <li>Отчет по дежурствам тренеров</li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 report">


            <form class="well form-horizontal" action="" method="post">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title">Отчет по оплатам клиентов</h3>

                            </div>

                        </div>
                    </div>
                    <div class="panel-body">
                        <h1></h1>


                        <!-- <div id="toolbar">
                                <select class="form-control">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                </select>
                        </div> -->

                        <table id="table"
                               data-toggle="table"
                               data-search="true"
                               data-filter-control="true"
                               data-show-export="true"
                               data-click-to-select="true"
                               data-toolbar="#toolbar">
                            <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="prenom" data-filter-control="input" data-sortable="true">Клиент</th>
                                <th data-field="date" data-filter-control="select" data-sortable="true">Дата</th>
                                <th data-field="examen" data-filter-control="select" data-sortable="true">Платеж</th>
                                <th data-field="note" data-sortable="true">Note</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                                <td>нку</td>
                                <td>01/09/2015</td>
                                <td>пы</td>
                                <td>12/20</td>
                            </tr>

                            <tr>
                                <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                                <td>фыв</td>
                                <td>01/09/2015</td>
                                <td>фыв12</td>
                                <td>12/20</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </form>




        </div>

        <!-- /.container -->
    </div>
</div>
<!-- /.container -->


</body>
</html>
