<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/imports :: import_header(~{::title},~{::link})}">
    <title>Расписание</title>
    <link rel="stylesheet" th:href="@{/css/fullcalendar.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="~{fragment/imports :: import_script(~{::script})}">
    <script th:src="@{/js/calendar/fullcalendar.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/calendar/ru.js}"></script>
    <script th:src="@{/js/calendar/gcal.js}"></script>
    <script th:src="@{/js/schedule.js}"></script>
</th:block>
<div th:include="header"></div>


<div id="training-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Работа с календарем</h4>
            </div>
            <div id="modal1" class="modal-body col-md-12">
                <ul class="nav nav-tabs ">
                    <li class="active"><a data-toggle="tab" href="#alreadyClient">Запись члена клуба </a></li>
                    <li><a data-toggle="tab" href="#newClient">Запись нового клиента </a></li>
                </ul>
                <div class="tab-content">
                    <div id="alreadyClient" class="tab-pane fade in active">
                        <div th:replace="~{element/element :: form(@{/training/club-client}, 'trainingForm', ~{::#already-inputs})}">
                            <div class="panel-body" id="already-inputs">
                                <!-- Select Basic -->
                                <select id="client-a"
                                        th:replace="~{element/element :: select-input('clientId', 'select-client-for-club', 'Клиент', ~{::#client-a/option}, true)}">
                                    <option value="">Выберите клиента</option>
                                    <option th:each="client: ${clients}" th:value="${client.id}"
                                            th:text="${client.name}">
                                    </option>
                                </select>
                                <!-- Select Basic -->
                                <select
                                        th:replace="~{element/element :: select-input('purchaseId', 'select-abonement-for-club', 'Абонемент', ~{}, true)}">
                                </select>
                                <select id="trainer-a"
                                        th:replace="~{element/element :: select-input('trainerId', 'select-trainer-for-club', 'Тренер', ~{::#trainer-a/option}, true)}">
                                    <option value="">Выберите тренера</option>
                                    <option th:each="trainer: ${trainers}" th:value="${trainer.id}"
                                            th:text="${trainer.name}">
                                    </option>
                                </select>
                                <div th:replace="~{element/element :: date-input('start', 'Начало тренировки', true, true)}"></div>
                                <!-- radio checks -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Заказать пропуск?</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="checkbox">
                                            <label><input type="checkbox"
                                                          name="passForAuto" id="passForAuto"></label>
                                        </div>
                                    </div>
                                </div>
                                <div th:replace="~{element/element :: text-area('comment', 'Комментарий к тренировке', 'Комментарий', 'pencil', false)}"></div>
                                <!-- Button -->
                                <div th:replace="~{element/element :: submit-btn('training-submit-for-club', 'Запланировать тренировку')}"></div>
                            </div>
                        </div>

                    </div> <!--home-->
                    <div id="newClient" class="tab-pane fade">
                        <div th:replace="~{element/element :: form(@{/training/new-client}, 'formCreate', ~{::#new-inputs})}">
                            <div class="panel-body" id="new-inputs">
                                <div th:replace="~{element/element :: text-input('fname', 'Иван', 'Имя', 'user', true, '^[А-я]+')}"></div>
                                <div th:replace="~{element/element :: text-input('sname', 'Иванов', 'Фамилия', 'user', true, '^[А-я]+')}"></div>
                                <div th:replace="~{element/element :: text-input('phone', '79151234567', 'Мобильный телефон', 'earphone', true, '^7[0-9]{10}')}"></div>
                                <div th:replace="~{element/element :: text-input('carNumber', 'A1001AA77', 'Номер автомобиля', 'user', false, _)}"></div>
                                <div th:replace="~{element/element :: radio-male('male')}"></div>
                                <select id="trainer-n"
                                        th:replace="~{element/element :: select-input('trainerId', 'select-trainer-for-new', 'Тренер', ~{::#trainer-n/option}, true)}">
                                    <option value="">Выберите тренера</option>
                                    <option th:each="trainer: ${trainers}" th:value="${trainer.id}"
                                            th:text="${trainer.name}">
                                    </option>
                                </select>
                                <div th:replace="~{element/element :: date-input('start', 'Начало тренировки', true, true)}"></div>
                                <!-- radio checks -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Заказать пропуск?</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="passForAuto"></label>
                                        </div>
                                    </div>
                                </div>
                                <div th:replace="~{element/element :: text-area('comment', 'Комментарий к тренировке', 'Комментарий', 'pencil', false)}"></div>
                                <div th:replace="~{element/element :: submit-btn('training-submit-for-club', 'Создать запись о клиенте ')}"></div>
                            </div>
                        </div>
                    </div>

                </div> <!--tab-content -->
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- Modal content-->
    </div>
</div>
<div id="exists-training-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Работа с календарем</h4>
            </div>
            <div class="modal-body col-md-12">
                <div class="tab-pane fade in active">
                    <!--     //<div id="home" class="tab-pane fade in active"> -->
                    <form id="exists-training-form" class="well form-horizontal">
                        <fieldset>
                            <div class="panel-body">
                                <!-- Text input-->
                                <div th:replace="~{element/element :: text-input-readonly('client', '', 'Клиент', 'user')}"></div>
                                <!-- Text input-->
                                <div th:replace="~{element/element :: text-input-readonly('abonement', '', 'Абонемент', 'user')}"></div>
                                <!-- Text input-->
                                <div th:replace="~{element/element :: date-input('start', 'Начало тренировки', false, true)}"></div>
                                <!-- Text input-->
                                <div th:replace="~{element/element :: text-input-readonly('carNumber', '', 'Номер автомобиля', 'menu-hamburger')}"></div>
                                <!-- Text input-->
                                <div th:replace="~{element/element :: text-input-readonly('statuses', '', 'Статус', 'justify')}"></div>
                                <!-- Text input-->
                                <div th:replace="~{element/element :: text-area('comment', 'Комментарий', 'Комментарий', 'pencil', true)}"></div>
                                <input type="hidden" name="id">
                                <input type="hidden" name="statusId">
                                <input type="hidden" name="trainerId">
                                <!-- radio checks -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Пропуск</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="passForAuto" disabled></label>
                                        </div>
                                    </div>
                                </div>
                                <select id="trainer-e"
                                        th:replace="~{element/element :: select-input('trainer', 'select-trainer-for-exists', 'Тренер', ~{::#trainer-e/option}, false)}">
                                    <option value="">Выберите тренера</option>
                                    <option th:each="trainer: ${trainers}" th:value="${trainer.id}"
                                            th:text="${trainer.name}">
                                    </option>
                                </select>
                                <!-- Button -->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-3">
                                            <button type="button" class="btn btn-default" id="status-write-off">
                                                Отменить со списанием
                                                <span class="glyphicon glyphicon-send"></span></button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-default" id="status-write-on">
                                                Отменить без списания
                                                <span class="glyphicon glyphicon-send"></span></button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-5">
                                            <button type="button" class="btn btn-default" id="change-trainer">
                                                Изменить тренера
                                                <span class="glyphicon glyphicon-send"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div> <!--home-->
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- Modal content-->
    </div>
</div>
<label class="col-md-1 control-label"></label>
<div class="col-md-12 control-label">
    <div class="container">
        <div class="container">
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active hidden">
                    <fieldset>
                        <div class="panel-group" id="panel-194688">
                            <div id="panel-element-922199" class="panel-collapse">
                                <div class="panel-body">
                                    <!-- Text input-->
                                    <div class="form-group has-feedback">
                                        <label class="col-md-4 control-label">Отобразить</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <label class="col-md-4 checkbox-inline" for="checkboxes-0">
                                                    <input type="checkbox" name="checkboxes" id="checkboxes-0"
                                                           value="1">
                                                    Клиентов
                                                </label>
                                                <label class="col-md-6 checkbox-inline" for="checkboxes-1">
                                                    <input type="checkbox" name="checkboxes" id="checkboxes-1"
                                                           value="2">
                                                    Дежурства тренеров
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="select-abonement">График
                                            тренера</label>
                                        <div class="col-md-4 selectContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-list"></i></span>
                                                <select id="select-abonement"
                                                        name="abonement"
                                                        class="form-control selectpicker">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div id='calendar' class="well bg-white"></div>
        </div>
    </div>
</div>
<!-- /.container -->
</body>
</html>
