<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="user"  sec:authorize="isAuthenticated()">
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" sec:authentication="principal.name">Владимир
            Путин <span class="glyphicon glyphicon-user pull-right"></span></a>
        <ul class="dropdown-menu">
            <!-- TODO добавить реализацию -->
            <!--<li><a href="#">Настройки   <span class="glyphicon glyphicon-cog pull-right"></span></a></li>-->
            <!--<li class="divider"></li>-->
            <li><a href="/report">Мои отчеты<span class="glyphicon glyphicon-stats pull-right"></span></a></li>
            <li class="divider"></li>
            <!--<li><a href="#">Мои задачи <span class="badge pull-right"> 42 </span></a></li>-->
            <!--<li class="divider"></li>-->
            <li><a href="/logout">Выход<span class="glyphicon glyphicon-log-out pull-right"></span></a>
            </li>
        </ul>
    </li>
</ul>
</th:block>
</body>
</html>
