.clientsTable tr[visible='false'],
.no-result{
    display:none;
}
#success_message{ display: none;}
.formCreate{ display: none;}

.clientsTable tr[visible='true']{
    display:table-row;
}

.counter{
    padding:8px;
    color:#111;
}
