<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/imports :: import_header(~{::title},~{::link})}">
    <title>404</title>
    <link rel="stylesheet" th:href="@{css/error_page.css}">
</head>
<body>
<th:block th:include="~{fragment/imports :: import_script(~{::script})}">
    <script th:src="@{js/error_page.js}"></script>
</th:block>
<div class="container">
    <div class="row">
        <p>Приносим извинения, страница не найдена. Перейдем на <a th:href='@{/index}'> главную</a> ?</p>
    </div>
</div>
<h1>40<span id="silhouette">4</span><span id="wobble">4</span></h1>
</body>
</html>
