<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/imports :: import_header(~{::title},~{::link})}">
    <title>Расписание</title>
    <link rel="stylesheet" th:href="@{/css/fullcalendar.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="~{fragment/imports :: import_script(~{::script})}">
    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
    <script th:src="@{/js/calendar/fullcalendar.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/calendar/ru.js}"></script>
    <script th:src="@{/js/calendar.js}"></script>
</th:block>
<div th:include="header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id='calendar' class="well bg-white"></div>
        </div>
    </div>
</div>
<!-- /.container -->
</body>
</html>