<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragment/imports :: import_header(~{},~{::link}, ~{})}">
    <link rel="stylesheet" th:href="@{css/header.css}"/>
</head>

<body>
<div class="container">

    <form class="well form-horizontal" action=" " method="post" id="header">


        <!-- Form Name -->

        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Znamenka CRM</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/index">Рабочий стол</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Работа с клиентами
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/client">Заведение клиентов</a></li>
                            <li><a href="/schedule">Запись на тренировку</a></li>
                            <li><a href="/sale">Продажи</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/end-of-day">Отчет за смену</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" sec:authentication="name">Владимир
                            Путин <span class="glyphicon glyphicon-user pull-right"></span></a>
                        <ul class="dropdown-menu">
                            <!-- TODO добавить реализацию -->
                            <!--<li><a href="#">Настройки   <span class="glyphicon glyphicon-cog pull-right"></span></a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="#">Мои отчеты<span class="glyphicon glyphicon-stats pull-right"></span></a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="#">Мои задачи <span class="badge pull-right"> 42 </span></a></li>-->
                            <!--<li class="divider"></li>-->
                            <li><a href="/logout">Выход<span class="glyphicon glyphicon-log-out pull-right"></span></a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>


    </form>
</div>
</body>
</html>
