<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/imports :: import_header(~{::title},~{::link})}">
    <title>Расписание</title>
    <link rel="stylesheet" th:href="@{/css/fullcalendar.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="~{fragment/imports :: import_script(~{::script})}">
    <script th:src="@{/js/calendar/fullcalendar.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/calendar/ru.js}"></script>
    <script th:src="@{/js/calendar/gcal.js}"></script>
    <script th:src="@{/js/form-validator/validator.min.js}"></script>
    <script th:src="@{/js/schedule.js}"></script>
</th:block>
<div th:include="header"></div>


<div id="training-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Работа с календарем</h4>
            </div>
            <div id="modal1" class="modal-body col-md-12">
                <ul class="nav nav-tabs ">
                    <li class="active"><a data-toggle="tab" href="#alreadyClient">Запись члена клуба </a></li>
                    <li><a data-toggle="tab" href="#newClient">Запись нового клиента </a></li>
                </ul>
                <div class="tab-content">
                    <div id="alreadyClient" class="tab-pane fade in active">
                        <!--     //<div id="home" class="tab-pane fade in active"> -->
                        <form id="trainingForm" class="well form-horizontal" action="#" method="post"
                              th:object="${training}"
                              th:action="@{/training/club-client}" data-toggle="validator">
                            <fieldset>
                                <div class="panel-body">
                                    <!-- Select Basic -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"
                                               for="select-client-for-club">Клиент</label>
                                        <div class="col-md-4 selectContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                                <select th:field="*{clientId}" id="select-client-for-club" name="сlient"
                                                        class="form-control selectpicker">
                                                    <option value="">Выберите клиента</option>
                                                    <option th:each="client: ${clients}" th:value="${client.id}"
                                                            th:text="${client.name}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Select Basic -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"
                                               for="select-abonement-for-club">Абонемент</label>
                                        <div class="col-md-4 selectContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                                <select th:field="*{purchaseId}" id="select-abonement-for-club"
                                                        name="abonement"
                                                        class="form-control selectpicker">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"
                                               for="select-client-for-club">Тренер</label>
                                        <div class="col-md-4 selectContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                                <select id="select-trainer-for-club" name="trainerId"
                                                        class="form-control selectpicker">
                                                    <option value="">Выберите тренера</option>
                                                    <option th:each="trainer: ${trainers}" th:value="${trainer.id}"
                                                            th:text="${trainer.name}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="ds">Начало тренировки</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group date" id='start-time-for-club'>
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                                <input th:field="*{start}" name="start" class="form-control" id="ds"
                                                       type="text" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="form-group">
                                        <!--                 <label class="col-md-4 control-label"></label> -->
                                        <div class="col-md-4 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary" id="training-submit-for-club">
                                                Запланировать тренировку
                                                <span class="glyphicon glyphicon-send"></span></button>
                                        </div>
                                        <div class="hidden col-md-4 ">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть
                                                форму
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                    </div> <!--home-->
                    <div id="newClient" class="tab-pane fade">
                        <form class="well form-horizontal formCreate" action="#" th:action="@{/training/new-client}"
                              method="post"
                              th:object="${clientNew}" data-toggle="validator" data-delay="100" id="formCreate">
                            <fieldset>
                                <div class="panel-body">
                                    <!-- Text input-->
                                    <div class="form-group has-feedback">
                                        <label class="col-md-4 control-label">Имя</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input th:field="*{fname}" placeholder="Иван" class="form-control"
                                                       type="text" required
                                                       pattern="^[А-я]+"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group has-feedback">
                                        <label class="col-md-4 control-label">Фамилия</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input th:field="*{sname}" placeholder="Иванов" class="form-control"
                                                       type="text" required
                                                       pattern="^[А-я]+"/>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Text input-->
                                    <div class="form-group has-feedback">
                                        <label class="col-md-4 control-label">Мобильный телефон</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i
                                                        class="glyphicon glyphicon-earphone"></i></span>
                                                <input th:field="*{phone}" placeholder="79151234567"
                                                       class="form-control" type="text"
                                                       pattern="^7[0-9]{10}" data-minlength="11" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group has-feedback">
                                        <label class="col-md-4 control-label">Марка и номер машины</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                                                <!-- todo добавить в форму-->
                                                <input placeholder="БМВ х123хх" class="form-control"
                                                       type="text"/>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"
                                               for="select-client-for-club">Тренер</label>
                                        <div class="col-md-4 selectContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                                <select id="select-trainer-for-new" name="trainerId"
                                                        class="form-control selectpicker">
                                                    <option value="">Выберите тренера</option>
                                                    <option th:each="trainer: ${trainers}" th:value="${trainer.id}"
                                                            th:text="${trainer.name}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="ds">Начало тренировки</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group date" id='start-time-for-new'>
                                                <span class="input-group-addon"><i
                                                        class="glyphicon glyphicon-calendar"></i></span>
                                                <input name="start" class="form-control "
                                                       type="text" id="ds1" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- radio checks -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Заказать пропуск?</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value=""></label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Text area -->
                                    <div class=" form-group">
                                        <label class="col-md-4 control-label">Комментарий к тренировке</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-pencil"></i></span>
                                                <textarea class="form-control" name="comment" placeholder="Комментарий"
                                                          th:field="*{comment}"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary" id="training-submit-for-new">
                                                Создать запись о
                                                клиенте <span
                                                    class="glyphicon glyphicon-send"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                </div> <!--tab-content -->
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- Modal content-->
    </div>
</div>
<div id="exists-training-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Работа с календарем</h4>
            </div>
            <div class="modal-body col-md-12">
                <div class="tab-pane fade in active">
                    <!--     //<div id="home" class="tab-pane fade in active"> -->
                    <form id="exists-training-form" class="well form-horizontal" action="#" method="post"
                          th:action="@{/training/club-client}">
                        <fieldset>
                            <div class="panel-body">
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="ec">Клиент</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            <input name="client" class="form-control" id="ec"
                                                   type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="eds">Начало тренировки</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group date">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                            <input name="start" class="form-control" id="eds"
                                                   type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="et">Тренер</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                            <input name="trainer" class="form-control" id="et"
                                                   type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="es">Статус</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                            <input name="status" class="form-control" id="es"
                                                   type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="ecom">Статус</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                            <textarea name="comment" class="form-control" id="ecom"
                                                   type="text" readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="id">
                                <input type="hidden" name="statusId">
                                <!-- Button -->
                                <div class="form-group">
                                    <!--                 <label class="col-md-4 control-label"></label> -->
                                    <div class="col-md-4 col-md-offset-3">
                                        <button type="button" class="btn btn-primary" id="status-write-off">
                                            Отменить со списанием
                                            <span class="glyphicon glyphicon-send"></span></button>
                                    </div>
                                    <div class="col-md-4 ">
                                        <button type="button" class="btn btn-default" id="status-write-on">
                                            Отменить без списания
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div> <!--home-->
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- Modal content-->
    </div>
</div>
<label class="col-md-1 control-label"></label>
<div class="col-md-12 control-label">
    <div class="container">
        <div class="container">
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active hidden">
                    <fieldset>
                        <div class="panel-group" id="panel-194688">
                            <div id="panel-element-922199" class="panel-collapse">
                                <div class="panel-body">
                                    <!-- Text input-->
                                    <div class="form-group has-feedback">
                                        <label class="col-md-4 control-label">Отобразить</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <label class="col-md-4 checkbox-inline" for="checkboxes-0">
                                                    <input type="checkbox" name="checkboxes" id="checkboxes-0"
                                                           value="1">
                                                    Клиентов
                                                </label>
                                                <label class="col-md-6 checkbox-inline" for="checkboxes-1">
                                                    <input type="checkbox" name="checkboxes" id="checkboxes-1"
                                                           value="2">
                                                    Дежурства тренеров
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="select-abonement">График
                                            тренера</label>
                                        <div class="col-md-4 selectContainer">
                                            <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-list"></i></span>
                                                <select id="select-abonement"
                                                        name="abonement"
                                                        class="form-control selectpicker">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div id='calendar' class="well bg-white"></div>
        </div>
    </div>
</div>
<!-- /.container -->
</body>
</html>