<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8"/>
    <title>404</title>
    
    
    
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

        <link rel="stylesheet" href="css/error_page.css">

    
    
    
  </head>

  <body>

    <div class = "container">
     
     <div class="row">
       <p>Приносим извинения, что-то пошло не так. Перейдем на  <a href='#home'> главную</a> ?</p>
</div>
  </div>
<h1>40<span id="silhouette">4</span><span id="wobble">4</span></h1>
    
        <script src="js/error_page.js"></script>

    
    
    
  </body>
</html>
